<h1>New Client</h1>

 <%= form_for @client do |form| %>
	<p><strong> Name:</strong> <%= form.text_field :imie %> </p>

	
	<% if @client.errors.any? %>
	
	<ul>
		<% @client.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
			<% end %>
	</ul>
	<% end %>
	
	<p><strong> Surname: </strong> <%= form.text_field :nazwisko %> </p>
	<p> <strong> E-mail: </strong> <%= form.text_field :email %> </p>
	<%= form.submit %>
<% end %>

<%= link_to 'Back', clients_path %>
