<%= form_for @letter do |form| %>
	<p> <strong> Title: </strong> <%= form.text_field :title %> </p>
	<p> <strong> Topic: </strong> <%= form.text_field :topic %> </p>
	<p> <strong> Content: </strong> <%= form.text_field :content %> </p>
	<%= form.submit %>
<% end %>