<% @letter.each do |letter| %>
<p> <%= letter.title %></br> <%= letter.topic %></br> <%= letter.content %></br>
<%= link_to "Edit", edit_letter_path(letter.id), class: 'btn btn-success' %>
<%= link_to 'Show', letter_path(letter.id),  class: 'btn btn-warning' %>
<%= link_to 'Destroy', letter_path(letter.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
<% end %>
<%= link_to "New", new_letter_path, class: 'btn btn-primary btn-lg' %>
