<p>
  <strong>Title:</strong>
  <%= @letters.title %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @letters.topic %>
</p>

<p>
  <strong>Content:</strong>
  <%= @letters.content %>
</p>

<%= link_to 'Edit', edit_letter_path(@letters)title|
<%= link_to 'Back', letters_path %>


